### 5.Operation

In [2]:
import numpy as np

In [3]:
a = np.arange(1,11,dtype=np.float32)
a.sum()

55.0

In [4]:
b=np.arange(1,13).reshape(3,4)

In [5]:
# 행: axis=0, 열: axis=1

In [6]:
# 세로 방향의 합
b.sum(axis=0)

array([15, 18, 21, 24])

In [7]:
# 가로 방향의 합
b.sum(axis=1)

array([10, 26, 42])

In [ ]:
# 평균
b.mean(axis=0), b.mean(axis=1)

In [8]:
#표준편차
b.std(axis=0), b.std(axis=1)

(array([3.26598632, 3.26598632, 3.26598632, 3.26598632]),
 array([1.11803399, 1.11803399, 1.11803399]))

In [ ]:
#수학함수
X=np.arange(-1., 1.01, 0.01)
X.size

In [10]:
#sigmoid 함수
Y=1./(1.+exp(-X))

NameError: name 'exp' is not defined

- Concatenate

In [12]:
a = np.arange(1,5).reshape(2,2)
b = np.array([[5,6]])
np.vstack((a,b))

array([[1, 2],
       [3, 4],
       [5, 6]])

In [13]:
np.concatenate( (a,b), axis=0 )

array([[1, 2],
       [3, 4],
       [5, 6]])

In [14]:
# 전치행렬(transpose)
b.T

array([[5],
       [6]])

In [16]:
np.concatenate( (a,b.T) , axis=1 )

array([[1, 2, 5],
       [3, 4, 6]])

In [17]:
np.hstack((a,b.T))
# v= vertical
# h = horizontal

array([[1, 2, 5],
       [3, 4, 6]])

In [18]:
a - a

array([[0, 0],
       [0, 0]])

In [19]:
a * a

array([[ 1,  4],
       [ 9, 16]])

In [20]:
a / a

array([[1., 1.],
       [1., 1.]])

- dot product

In [22]:
a = np.arange(1,7).reshape(2,3)
a.dot(a.T) #항상 자기자신과 자기자신의 T는 행렬의 곱이 가능하다

array([[14, 32],
       [32, 77]])

- Broadcasting

In [24]:
a + 100

array([[101, 102, 103],
       [104, 105, 106]])

In [25]:
a * 2

array([[ 2,  4,  6],
       [ 8, 10, 12]])

In [26]:
a ** 2

array([[ 1,  4,  9],
       [16, 25, 36]])

In [27]:
a + np.array([10,20,30])

array([[11, 22, 33],
       [14, 25, 36]])

### 7. Comparison

In [30]:
a = np.arange(5)
np.all(a), np.any(a)

(False, True)

In [31]:
a > 2

array([False, False, False,  True,  True])

In [32]:
a[a>2] #True값만 출력

array([3, 4])

- Logical Operation

In [36]:
a = np.arange(5)
b = np.logical_and(a>0, a<3)
b

array([False,  True,  True, False, False])

In [40]:
c = np.logical_not(b)
c

array([ True, False, False,  True,  True])

In [41]:
np.logical_or(b,c) #둘 중 하나라도 true면 true

array([ True,  True,  True,  True,  True])

In [42]:
np.logical_xor(b,c) #두 개의 값이 다르면 True 즉, 한 개만 True 이면 참

array([ True,  True,  True,  True,  True])

In [43]:
a = np.arange(5)
np.where(a>2) #조건에 맞는 인덱스 위치

(array([3, 4]),)

- NaN(Not a Number)

In [45]:
a = np.array([1, np.NaN, np.Inf], float)
a

array([ 1., nan, inf])

In [46]:
np.isnan(a), np.isfinite(a)

(array([False,  True, False]), array([ True, False, False]))

- argmax, argmin

In [53]:
a = np.arange(6)
np.argmax(a), np.argmin(a) #인덱스값 반환

(5, 0)

In [54]:
b = np.arange(12).reshape(3,4)
b

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [55]:
np.argmax(b, axis=0)

array([2, 2, 2, 2])

In [56]:
np.argmin(b, axis=1)

array([0, 0, 0])