# Python MySQL
- CRUD Operation

In [ ]:
import json
import pymysql.cursors

In [ ]:
with open('mysql.json','r') as file:
    config_str = file.read()
config = json.loads(config_str)

In [ ]:
conn = pymysql.connect(
    host = config['host'],
    user = config['host'],
    password = config['password'],
    database = config['team'],
    port = config['port']
)

- 테이블 생성

In [ ]:
sql_user = """
    create table if not exists users (
        uid VARCHAR(20) NOT NULL PRIMARY KEY,
        pwd CHAR(44)
        uname VARCHAR(20) NOT NULL
        reg_date DATETIME DEFAULT CURRENT_TIMESTAMP,
        is_deleted INT DEFAULT 0
    )
"""

In [ ]:
cur = conn.cursor()
cur.execute(sql_user)

- 테이블 변경

In [ ]:
cur.execute('alter table users add column email varchar(40);')

- 데이터 입력

In [ ]:
cur = conn.cursur()
cur.execute("
    insert into users(uid, uname) values('admin','관리자');
")

#반드시 "" 로 써줘야함

In [ ]:
cur.execute('select * from users;')
row=cur.fetchall()
for row in rows:
    print(row)

In [ ]:
sql_insert_multi = """
    INSERT INTO users(uid, uname)
        VALUES('eskim','김은숙'),('wjlee','이우정');
"""

In [ ]:
sql_select = """
    SELECT uid, uname,
    DATE_FORMAT(reg_date, '%Y-%m-%d %h:%i') AS reg_date,
    is deleted, email FROM users;

"""
cur.execute('select * from users;')
row=cur.fetchall()
for row in rows:
    print(row)

In [1]:
# 파라메터 이용, placeholder
uid = 'djy'
uname = '대조영'
cur = conn.cursor()
sql = "INSERT INTO users(uid, uname) VALUES (%s,%s);"
cur.execute(sql, (uid, uname))
conn.commit()

SyntaxError: invalid syntax (<ipython-input-1-6df9688d317d>, line 5)

In [4]:
uid = 'gdhong'
cur = conn.cursor()
sql = "INSERT INTO users(uid,uname) VALUES(%s,'홍길동');"
cur.execute(sql, (uid,))
conn.commit()

NameError: name 'conn' is not defined

In [ ]:
users = (('jbpark','박재범'),('vincenzo','빈센조'))
cur = conn.cursor()
sql = "INSERT INTO users(uid,uname) VALUES(%s,%s);"
#아래 for문은 cur.executemany(sql, users)
for user in users:
    cur.execute(sql, user)
conn.commit()

- 데이터 삭제

In [ ]:
cur = conn.cursor()
sql = "DELETE FROM users WHERE uid != 'admin' ;"
cur.execute(sql)
conn.commit()

In [ ]:
import pandas as pd
uids = ['djy','eskim','gdhong','jbpark','vincenzo']
unames=['대조영','김은숙','홍길동','박재범','빈센조','이우정']
df= pd.DataFrame({'uid':uids, 'uname':unames})

In [ ]:
users = (('jbpark','박재범'),('vincenzo','빈센조'))
cur = conn.cursor()
sql = "INSERT INTO users(uid,uname) VALUES(%s,%s);"
for i in df.index:
    cur.execute(sql, user)
conn.commit()

- 데이터 수정

In [ ]:
email = 'admin@korea.com'
uid = admin
cur = conn.cursor()
sql = 'UPDATE users SET email=%s WHERE uid=%s'
cur.execute(sql, (email,uid))
conn.commit()

In [ ]:
#모두 조회
cur = conn.cursor()
cur.execute(sql)
results = cur.fetchall()
for row in results:
    print(row)

In [ ]:
sql = 'UPDATE users SET pwd=%s where uid=%s'
cur = conn.cursor()
for row in results:
    uid = row[0]
    pwd = gen_pwd(uid+'12')
    cur.execute(sql, (pwd,uid))
conn.commit()

In [ ]:
uid='fool'

In [ ]:
sql ="SELECT uid, pwd FROM users WHERE uid=%s;"
cur = conn.cursor()
cur.execute(sql, (uid, ))

In [ ]:
result = cur.fetchone()

In [ ]:
result

- 1), 2), 3)을 하나로 합치기

In [ ]:
uid, pwd = "SELECT uid, pwd FROM users WHERE uid=%s and is_deleted=0;"
cur = conn.cursor()
cur.execute(sql,(uid, ))
result = cur.fetchone()

if result:
    db_pwd = result[1]
    hashed_pwd = gen_pwd(pwd)
    if db_pwd == hased_pwd:
        print('correct')
    else:
        print('incorrect password')
else:
    print('bad uid')

In [ ]:
cur.close()
conn.close()