## 판다스 고급 인덱싱

In [1]:
import numpy as np 
import pandas as pd

- loc 인덱서

In [ ]:
# df.loc[행 인덱싱값]
# df.loc[행 인덱싱값, 열 인덱싱값]

In [4]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),    #10~21까지 3행4열짜리 배열 생성
                  index=["a", "b", "c"],              #인덱스이름
                  columns=["A", "B", "C", "D"])       #칼럼 이름
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [5]:
df.loc['a']

A    10
B    11
C    12
D    13
Name: a, dtype: int64

In [6]:
df.loc['a':'b']

    A   B   C   D
a  10  11  12  13
b  14  15  16  17

In [7]:
df['a':'b']

    A   B   C   D
a  10  11  12  13
b  14  15  16  17

In [9]:
df.A > 15

a    False
b    False
c     True
Name: A, dtype: bool

In [10]:
#Boolean index도 사용가능
df.loc[df.A > 15]

    A   B   C   D
c  18  19  20  21

In [13]:
#개별 값
df.loc['c','D'], df['D']['c']
#      행  열        열   행

(21, 21)

In [15]:
#슬라이싱
df.loc['b':, 'C':]

    C   D
b  16  17
c  20  21

- iloc 인덱서

iloc 인덱서는 loc 인덱서와 반대로 라벨이 아니라

순서를 나타내는 정수(integer) 인덱스만 받는다.

In [16]:
df.iloc[1:, 2:]

    C   D
b  16  17
c  20  21

In [17]:
df.iloc[-1,-1]

21

In [18]:
df.iloc[0]

A    10
B    11
C    12
D    13
Name: a, dtype: int64

- loc는 인덱스명이나 칼럼명을 명시해야 되고

- iloc는 index location으로 인덱스 번호를 명시