In [64]:
import pandas as pd 
import seaborn as sns
import numpy as np

In [65]:
mpg = sns.load_dataset('mpg')
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [66]:
#a) 배기량(displacement) 대비 마력(horsepower) 열(hp_per_cc)을 추가하시오.
mpg['hp_per_cc'] = mpg['horsepower'] / mpg['displacement']
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,hp_per_cc
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu,0.423453
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320,0.471429
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite,0.471698
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst,0.493421
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino,0.463576

In [67]:
#b) name으로부터 manufacturer(제조사)와 모델을 추출하여 새로운 열 manufacturer와 model을 추가하고, name 열은 삭제하시오.
mpg['manufacturer'] = mpg['name'].str.split().str[0]

mpg['model'] = mpg['name'].str.split().str[1:].apply(lambda x: " ".join(x))

In [68]:
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,hp_per_cc,manufacturer,model
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu,0.423453,chevrolet,chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320,0.471429,buick,skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite,0.471698,plymouth,satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst,0.493421,amc,rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino,0.463576,ford,torino

In [69]:
mpg.drop('name', axis=1)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,hp_per_cc,manufacturer,model
0,18.0,8,307.0,130.0,3504,12.0,70,usa,0.423453,chevrolet,chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,0.471429,buick,skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,0.471698,plymouth,satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,0.493421,amc,rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,0.463576,ford,torino
...,...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,0.614286,ford,mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,0.536082,vw,pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,0.622222,dodge,rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,0.658333,ford,ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,0.689076,chevy,s-10

In [70]:
#c) 엔진의 실린더(cylinders) 갯수별 연비(mpg)의 평균을 구하시오.
mpg.groupby('cylinders').mpg.mean()

cylinders
3    20.550000
4    29.286765
5    27.366667
6    19.985714
8    14.963107
Name: mpg, dtype: float64

In [71]:
#d) 생산지(origin)별 배기량 대비 마력(hp_per_cc)의 평균을 구하시오.
mpg.groupby('origin').hp_per_cc.mean()

origin
europe    0.740005
japan     0.789485
usa       0.512063
Name: hp_per_cc, dtype: float64

In [72]:
#e) 모델이 5개 이상인 제조사에 대하여 연비(mpg)의 평균이 가장 좋은 제조사 Top 5를 구하시오.
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,hp_per_cc,manufacturer,model
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu,0.423453,chevrolet,chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320,0.471429,buick,skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite,0.471698,plymouth,satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst,0.493421,amc,rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino,0.463576,ford,torino

In [76]:
s = mpg.manufacturer.value_counts()
s

ford             51
chevrolet        43
plymouth         31
amc              28
dodge            28
toyota           25
datsun           23
buick            17
pontiac          16
volkswagen       15
honda            13
mercury          11
oldsmobile       10
mazda            10
fiat              8
peugeot           8
audi              7
vw                6
volvo             6
chrysler          6
renault           5
subaru            4
saab              4
opel              4
chevy             3
cadillac          2
bmw               2
mercedes-benz     2
maxda             2
toyouta           1
vokswagen         1
mercedes          1
chevroelt         1
hi                1
capri             1
triumph           1
nissan            1
Name: manufacturer, dtype: int64

In [83]:
up5 = s [s >= 5].index.tolist()

In [88]:
big_mpg = mpg[ mpg['manufacturer'] .isin(up5) ]
                                     #리스트
# isin() : 어떤 '리스트' 의 요소가 DataFrame이나 Series에 존재 하는지를 True(존재), False(존재안함)로 반환.

In [90]:
big_mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,hp_per_cc,manufacturer,model
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu,0.423453,chevrolet,chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320,0.471429,buick,skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite,0.471698,plymouth,satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst,0.493421,amc,rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino,0.463576,ford,torino

In [92]:
big_mpg.groupby( 'manufacturer').mpg.mean()

manufacturer
amc           18.246429
audi          26.714286
buick         19.182353
chevrolet     20.472093
chrysler      17.266667
datsun        31.113043
dodge         22.060714
fiat          28.912500
ford          19.694118
honda         33.761538
mazda         30.860000
mercury       19.118182
oldsmobile    21.100000
peugeot       23.687500
plymouth      21.703226
pontiac       20.012500
renault       32.880000
toyota        28.372000
volkswagen    29.106667
volvo         21.116667
vw            39.016667
Name: mpg, dtype: float64

In [100]:
final = big_mpg.groupby( 'manufacturer')[['mpg']].mean().sort_values(by='mpg', ascending=False)
final[0:5]

                    mpg
manufacturer
vw            39.016667
honda         33.761538
renault       32.880000
datsun        31.113043
mazda         30.860000

In [ ]:
## filter 사용

In [102]:
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,hp_per_cc,manufacturer,model
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu,0.423453,chevrolet,chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320,0.471429,buick,skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite,0.471698,plymouth,satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst,0.493421,amc,rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino,0.463576,ford,torino

In [104]:
mpg.groupby('manufacturer').filter(lambda x: x.manufacturer.count() >= 5)
#제조사별로 필터링하기

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,hp_per_cc,manufacturer,model
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu,0.423453,chevrolet,chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320,0.471429,buick,skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite,0.471698,plymouth,satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst,0.493421,amc,rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino,0.463576,ford,torino
...,...,...,...,...,...,...,...,...,...,...,...,...
392,27.0,4,151.0,90.0,2950,17.3,82,usa,chevrolet camaro,0.596026,chevrolet,camaro
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl,0.614286,ford,mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup,0.536082,vw,pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage,0.622222,dodge,rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger,0.658333,ford,ranger